.jdialog-screen {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99998;
    width: 100%;
    height: 100%;
    background: #666;
    opacity: 0.3;
    filter: alpha(opacity=30);
    _position: absolute;
}
.jdialog {
    position: fixed;
    z-index: 99999;
    _position: absolute;
}
.jdialog .jdialog-border {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
    border: 10px solid #000;
    border-radius: 5px;
    box-shadow: 0 0 10px #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.jdialog .jdialog-container {
    background: #fff;
}
